In [1]:
import pandas as pd
import sqlite3
from datetime import date
from icalendar import Calendar, Event
import requests
from pandas.tseries.offsets import BDay
import datetime
import pytz

# Load Data

In [2]:
data = pd.read_csv("data/final.csv")
data.set_index("Unnamed: 0", inplace = True)
data.index.name = None
data

,Activity,SKH,Type,Date,base
0,"Bonding Wire, Lanyard & Flame Trap Check",106,Weekly,01-02,terminal 1
1,"Bonding Wire, Lanyard & Flame Trap Check",106,Weekly,01-09,terminal 1
2,"Bonding Wire, Lanyard & Flame Trap Check",106,Weekly,01-16,terminal 1
3,"Bonding Wire, Lanyard & Flame Trap Check",106,Weekly,01-23,terminal 1
4,"Bonding Wire, Lanyard & Flame Trap Check",106,Weekly,01-30,terminal 1
...,...,...,...,...,...
15096,Hose Check Report Platform,91,Six-Monthly,12-21,terminal 3
15097,Hose Check Report Platform,104,Six-Monthly,01-02,terminal 3
15098,Hose Check Report Platform,104,Six-Monthly,07-03,terminal 3
15099,Hose Check Report Platform,105,Six-Monthly,02-06,terminal 3
15100,Hose Check Report Platform,105,Six-Monthly,08-04,terminal 3

# Check and Make Calendar event

## Using python library (holidays)

In [3]:
#check holidays implementation
import holidays
for date, name in sorted(holidays.ID(years=2023).items()):
    print(date, name)

2023-01-01 Tahun Baru Masehi
2023-01-22 Tahun Baru Imlek
2023-02-18 Isra' Mi'raj Nabi Muhammad* (*estimated)
2023-03-22 Hari Suci Nyepi
2023-04-07 Wafat Yesus Kristus
2023-04-22 Hari Raya Idul Fitri
2023-04-23 Hari kedua dari Hari Raya Idul Fitri
2023-05-01 Hari Buruh Internasional
2023-05-18 Kenaikan Yesus Kristus
2023-06-01 Hari Lahir Pancasila
2023-06-04 Hari Raya Waisak
2023-06-29 Hari Raya Idul Adha
2023-07-19 Tahun Baru Islam* (*estimated)
2023-08-17 Hari Kemerdekaan Republik Indonesia
2023-09-27 Maulid Nabi Muhammad* (*estimated)
2023-12-25 Hari Raya Natal

actually not complete

## Load ICS from officeholidays

In [4]:
url = "https://www.officeholidays.com/ics-clean/indonesia"
gcal = Calendar.from_ical(requests.get(url).text)

In [5]:
temp = []
for component in gcal.walk():
    if component.name == "VEVENT":
        temp.append({
            'Name': component.get('summary'),
            'Start': str(component.get('DTSTART').dt)
        })
        
holidays = pd.DataFrame(temp)

In [6]:
def isHolidays(date):
    if date in holidays['Start'].values:
        return True
    else:
        return False

In [7]:
def isWeekend(date):
    if datetime.datetime.strptime(
    date, '%Y-%m-%d').weekday() > 4:
        return True
    else:
        return False

In [8]:
def shiftDate(date):
    curYear = datetime.datetime.now().strftime("%Y")
    shift = 0
    year_date = str(curYear) + "-" + date
    while isHolidays(year_date) or isWeekend(year_date):
        shift += 1
        temp_sub = str((datetime.datetime.strptime(year_date, '%Y-%m-%d') - datetime.timedelta(days = shift)).date())
        temp_add = str((datetime.datetime.strptime(year_date, '%Y-%m-%d') + datetime.timedelta(days = shift)).date())
        if isHolidays(temp_sub) == False or isWeekend(temp_sub) == False:
            year_date = temp_sub
        elif isHolidays(temp_add) == False or isWeekend(temp_add) == False:
            year_date = temp_add
    return year_date

In [9]:
data['year_date'] = data['Date'].apply(shiftDate)

## Create functions for inserting data and yearly functions (SQLite database)

In [10]:
#initialize (try to create user)
conn = sqlite3.connect('pelitaAirDB')
c = conn.cursor()
query = '''CREATE TABLE if not exists Users
               (userid text, username text, password text)'''

conn.execute(query)
conn.commit()
# you also need to close  the connection
conn.close()

Create User for Admin purposes

In [15]:
def createUser(userid, username, password):
    """function to create user, need to input 
    userid: text
    username: text
    password: text
    """
    conn = sqlite3.connect('pelitaAirDB')
    c = conn.cursor()
    insert = 'INSERT INTO Users Values (?,?,?)'
    conn.execute(query)
    conn.executemany(insert, [(userid, username, password)])
    conn.commit()
    # you also need to close  the connection
    conn.close()

Replace Schedule table every year and save old data

In [118]:
def yearlyRun(data):
    """function to shift date and save old data to csv"""
    #Connect to database
    conn = sqlite3.connect('pelitaAirDB')
    table_name = "Schedule"
    #Save old data as CSV
    a = conn.execute(f'SELECT * FROM {table_name}')
    results = a.fetchall()
    old_data = pd.DataFrame(results)
    old_data.columns = ["Activity", "SKH", "Type", "Date", "base", "year_date", "execution_date"]
    curYear = datetime.datetime.now().strftime("%Y")
    old_data.to_csv('{}.csv'.format(str(curYear)))
    #Shift Date
    data['year_date'] = data['Date'].apply(shiftDate)
    #add execution_date
    data['execution_date'] = ""
    #create schedule table if not exists, if exists then replace
    query = f'Create table if not Exists {table_name} (Activity text, SKH text, Type text, Date text, base text, year_date text, execution_date text)'
    conn.execute(query)
    data.to_sql(table_name,conn,if_exists='replace',index=False)
    conn.commit()
    conn.close()

In [119]:
#Check if logic works
yearlyRun(data)
# it works

In [122]:
def updateSchedule(activity, SKH, Type, year_date, base):
    """update schedule to done"""
    conn = sqlite3.connect('pelitaAirDB')
    table_name = "Schedule"
    date = datetime.datetime.now().strftime("%Y-%m-%d")
    a = conn.execute(f'UPDATE {table_name} SET execution_date = "{date}" WHERE activity = "{activity}" AND SKH = "{SKH}" AND Type = "{Type}" AND year_date = "{year_date}" AND base = "{base}"')
    conn.commit()
    conn.close()

In [123]:
#Check if logic works
updateSchedule("Bonding Wire, Lanyard & Flame Trap Check", "106", "Weekly", "2023-01-02", "terminal 1")
conn = sqlite3.connect('pelitaAirDB')
c = conn.cursor()
a = conn.execute(f'SELECT * FROM Schedule WHERE activity = "Bonding Wire, Lanyard & Flame Trap Check" AND SKH = "106" AND Type = "Weekly" AND year_date = "2023-01-02" AND base = "terminal 1"')
results = a.fetchall()
print(results)
conn.close()
#it works

[('Bonding Wire, Lanyard & Flame Trap Check', 106, 'Weekly', '01-02', 'terminal 1', '2023-01-02', '2023-02-22')]